# 1 列表表达式

用于从一个可迭代对象生成新的列表

## 1.1 基本语法

[ 表达式 for 变量 in 可迭代对象 if 条件]

- 表达式：生成新列表的每个元素的逻辑，如果是函数必须是函数调用的格式，传变量作为实参，而map和apply函数只需要函数名
- 变量：可迭代对象中的每个元素
- 可迭代对象，如列表、字典、元组、集合、生成器等
- 条件：过滤条件，可选

等价于
```python
for 变量 in 可迭代对象:
    if 条件:
        表达式
```

## 1.2 与for循环的区别

In [2]:
res = []
for i in range(10):
    if i % 2 == 0:
        res.append(i)

res

[0, 2, 4, 6, 8]

In [4]:
res = [i for i in range(10) if i % 2 == 0]
res

[0, 2, 4, 6, 8]

## 1.3 列表表达式使用场景

### 1.3.1 基本用法
### 1.3.2 带条件语句
### 1.3.3 多层循环

In [5]:
# 0-9之间偶数的平方
[x**2 for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

In [6]:
str_l= ['whwaja','jwjoa','kwhiq']
# 转大写
[x.upper() for x in str_l]

['WHWAJA', 'JWJOA', 'KWHIQ']

In [7]:
# 多层循环，生成一个包含全部整数坐标的点集合
[(x,y) for x in range(3) for y in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

# 2 iterrows

用于逐行迭代地获取DataFrame的行数据，每次迭代返回DataFrame的行索引和行数据

## 2.1 基本定义

df.iterrows():

- 生成一个迭代器，用于遍历每一行
- 返回值：每次迭代返回一个（index，series）元组：当前行索引，当前行数据,属性方式访问每个数据
- 运行效率较慢

In [8]:
import pandas as pd
data = {
    'name':['Alice','Quark','baidu','360','google'],
    'age':[12,10,3,3,22],
    'city':['New York','Berg','Westingdon','beijing','sillicon'],
    'Price':[200,400,900,100,10000],
    'good':[True,True,True,False,True]
}

df_data = pd.DataFrame(data=data)
df_data.iterrows()

In [19]:
for index, row in df_data.iterrows():
    print(f"index:{index}\n"
          f"Row Data:\n{row}\n"
          f"--------")

index:0
Row Data:
name        Alice
age            12
city     New York
Price         200
good         True
Name: 0, dtype: object
--------
index:1
Row Data:
name     Quark
age         10
city      Berg
Price      400
good      True
Name: 1, dtype: object
--------
index:2
Row Data:
name          baidu
age               3
city     Westingdon
Price           900
good           True
Name: 2, dtype: object
--------
index:3
Row Data:
name         360
age            3
city     beijing
Price        100
good       False
Name: 3, dtype: object
--------
index:4
Row Data:
name       google
age            22
city     sillicon
Price       10000
good         True
Name: 4, dtype: object
--------

# 3 itertuples

## 3.1 基本定义
与iterrows类似，迭代式地获取行数据，返回一个命名元组（namedtuple），效率更高

itertuples(index=True)

- index:布尔值，表示是否包含行索引
- 返回值，一个series，可以直接使用属性方式访问，row.name...

## 3.2 使用场景

In [14]:
df_data

     name  age        city  Price   good
0   Alice   12    New York    200   True
1   Quark   10        Berg    400   True
2   baidu    3  Westingdon    900   True
3     360    3     beijing    100  False
4  google   22    sillicon  10000   True

In [15]:
# 遍历每一行

for row in df_data.itertuples(): # 如果设置index=False，不会有Index这个键
    print(f'Row:{row}\n'
          f'index:{row.index}\n'
          f'name:{row.name} | age:{row.age} | Price:{row.Price}\n'
          f'-----')

Row:Pandas(Index=0, name='Alice', age=12, city='New York', Price=200, good=True)
index:<built-in method index of Pandas object at 0x0000019A097D3C40>
name:Alice | age:12 | Price:200
-----
Row:Pandas(Index=1, name='Quark', age=10, city='Berg', Price=400, good=True)
index:<built-in method index of Pandas object at 0x0000019A18A38700>
name:Quark | age:10 | Price:400
-----
Row:Pandas(Index=2, name='baidu', age=3, city='Westingdon', Price=900, good=True)
index:<built-in method index of Pandas object at 0x0000019A097D3C40>
name:baidu | age:3 | Price:900
-----
Row:Pandas(Index=3, name='360', age=3, city='beijing', Price=100, good=False)
index:<built-in method index of Pandas object at 0x0000019A18A38700>
name:360 | age:3 | Price:100
-----
Row:Pandas(Index=4, name='google', age=22, city='sillicon', Price=10000, good=True)
index:<built-in method index of Pandas object at 0x0000019A097D3C40>
name:google | age:22 | Price:10000
-----