# 1 Series基本介绍

类似一个一维数组，具有数据和索引

- 可以包含任意数据类型
- DataFrame的每一列都是Series
- 仅由索引和数据值组成
    - 索引：每一行的标签
    - 数据值，Series中的实际值


# 2 Series的创建

## 2.1 从列表创建

In [2]:
import pandas as pd
data = [1,2,3,4]
s_data = pd.Series(data=data)
# 自定义索引
s_data = pd.Series(data=data,index=['a','b','c','d'])
s_data

a    1
b    2
c    3
d    4
dtype: int64

## 2.2 从字典创建

键成为索引，值成为数据值

In [3]:
data = {'a':[1,2,3,4]}
s_data = pd.Series(data=data)
s_data

a    [1, 2, 3, 4]
dtype: object

In [4]:
data = {'a':1,'b':2,'c':3,'d':4}
s_data = pd.Series(data=data)
s_data

a    1
b    2
c    3
d    4
dtype: int64

# 3 主要方法

## 3.1 访问元素

### 3.1.1 按整数位置访问

类似列表，方括号加位置索引

### 3.1.2 按自定义索引

类似字典，方括号加自定义索引

In [5]:
s_data[1:3]

b    2
c    3
dtype: int64

In [8]:
s_data['a']

np.int64(1)

### 3.1.3 通过.iloc[]方法访问

s.iloc[interger]:整数位置


### 3.1.4 通过.loc[]方法访问

s.iloc[index]:索引

In [9]:
s_data.iloc[3]

np.int64(4)

In [10]:
s_data.loc['b']

np.int64(2)

## 3.2 索引与值

Series由索引和值组成

### 3.2.1 index:获取索引和修改

In [11]:
s_data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
s_data.index = ['k','l','m','n']

In [14]:
s_data

k    1
l    2
m    3
n    4
dtype: int64

### 3.2.2 values获取值

In [15]:
s_data.values

array([1, 2, 3, 4])

# 4 DataFrame和Series关系

## 4.1 DataFrame中每一列都是Series

方法也适用，如，head,tail,dtype,astype,shape,describe(),value_count()每条数据出现次数，count()非缺失数据条数

In [17]:
data = [
    ['alice',22,'N.k'],
    ['Bob',23,'L.A'],
    ['Chari',24,'W.D']
]
data = pd.DataFrame(data=data,columns=['name','age','address'])
data

    name  age address
0  alice   22     N.k
1    Bob   23     L.A
2  Chari   24     W.D

In [18]:
# 每一列都是Series
d_s = data['age']
d_s

0    22
1    23
2    24
Name: age, dtype: int64

In [22]:
d_s.count()

np.int64(3)

In [30]:
d_s.astype('float64')

0    22.0
1    23.0
2    24.0
Name: age, dtype: float64